# サイトの公開 URL
SITE_URL=https://docs.chunisupport.net

# ChuniSupport 本体の公開 URL
PUBLIC_APP_URL=http://localhost:3000

# ブックマークレット配布先のベース URL
PUBLIC_BOOKMARKLET_URL=***

# 上記 URL から読み込む JavaScript ファイル名
PUBLIC_BOOKMARKLET_ENTRYPOINT=***.js

# API のベース URL
PUBLIC_API_BASE_URL=https://api.chunisupport.net

# キャッシュ済み静的APIデータのベース URL
PUBLIC_STATIC_API_BASE_URL=https://static.chunisupport.net
